.App {
    position:relative;
    align-items: center;
}

.ticket_list {
    position : relative;

}


.header {
    position: relative;
    text-align : center;
}

.forward_button {
    position: relative;
    bottom : 5%;
    left : 30%;
}

.backward_button {
    position: relative;
    bottom: 5%;
    left : 55%;
}
