.App {
    position:relative;
    align-items: center;
}

.ticket_list {
    position : relative;

}

.button_group {
    position : absolute;
    left : 44%;
    bottom :0.2%;
}


.header {
    position: relative;
    text-align : center;
    font-size : large;
}

.alt_header {
    position: relative;
    text-align : center;
}

.counter {
    position : relative;
    left : 1%;
}
